.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 25rem 0;
    clip-path: polygon(0 20vh, 100% 0, 100% calc(100% - 20vh), 0 100%);
    margin-top: -20vh;
    // transform: skewY(-7deg);
    // & > * {
    //     transform: skewY(7deg);
    // }
    @include background-image--cover(
        (
            linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)
            ),
            url('../img/nat-4.jpg')
        )
    );
}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem;
    margin-top: -20vh;
}

.section-stories {
    padding: 15rem 0;
    position: relative;
}
