.grid {
    display: grid;
    row-gap: 8rem;
    column-gap: 6rem;

    &--2-cols {
        grid-template-columns: repeat(2, 1fr);
    }

    &--3-cols {
        grid-template-columns: repeat(3, 1fr);
    }

    &--4-cols {
        grid-template-columns: repeat(4, 1fr);
    }

    @include respond($bp-md) {
        row-gap: 7rem;
        columns-gap: 5rem;

        &--2-cols {
            grid-template-columns: 1fr;
        }

        &--3-cols {
            grid-template-columns: 1fr;
            justify-items: center;
            column-gap: 0;
        }

        &--4-cols {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include respond($bp-sl) {
        row-gap: 6rem;
        columns-gap: 5rem;
        justify-items: center;

        &--3-cols {
            grid-template-columns: 1fr;
        }

        &--4-cols {
            grid-template-columns: 1fr;
        }
    }

    @include respond($bp-sl) {
        row-gap: 4rem;
    }
}
