@use '../abstracts' as *;

.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        position: absolute;
        transition: all 0.2s;
        outline-offset: 2rem;

        &--p1 {
            top: -2rem;
            left: 0;
        }

        &--p2 {
            top: 2rem;
            right: 0;
        }

        &--p3 {
            top: 10rem;
            left: 20%;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-0.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 1;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.95);
    }

    @include respond($bp-md) {
        &__photo {
            width: 25%;

            &--p1 {
                top: -5rem;
                left: 25%;

                &:hover {
                    left: 50%;
                    transform: scale(1.05) translateY(-0.5rem) translateX(-50%);
                }
            }

            &--p2 {
                top: -5rem;
                left: 50%;

                &:hover {
                    transform: scale(1.05) translateY(-0.5rem) translateX(-50%);
                }
            }

            &--p3 {
                top: -6rem;
                left: 50%;
                transform: translateX(-50%);

                &:hover {
                    transform: scale(1.05) translateY(-0.5rem) translateX(-50%);
                }
            }

            &--p1:hover ~ &--p3 {
                transform: scale(0.95);
                left: 25%;
            }
        }
    }

    @include respond($bp-sl) {
        justify-self: normal;

        &__photo {
            width: 40%;

            &--p1,
            &--p2 {
                top: 0;

                &:hover {
                    top: -1rem;
                }
            }

            &--p1 {
                left: 10%;
            }

            &--p2 {
                left: 50%;

                &:hover {
                    transform: scale(1.05) translateY(-0.5rem) translateX(-50%);
                }
            }

            &--p3 {
                top: -1rem;
            }

            &--p1:hover ~ &--p3 {
                transform: scale(0.95);
                left: 10%;
            }
        }

        &:hover &__photo:not(:hover) {
            top: 0;
        }
    }
}
