*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 3rem;

    @include respond($bp-sm) {
        padding: 0;
    }
}
