.u-container {
    max-width: 114rem;
    margin: 0 auto;
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-bt {
    margin-bottom: 10rem !important;
}

.u-margin-bottom-bg {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-md {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-sm {
    margin-bottom: 1.5rem !important;
}
