.u-container {
    max-width: 114rem;
    margin: 0 auto;
}

.u-center-text {
    text-align: center;
}

.u-margin-bottom-bt {
    margin-bottom: 10rem;
}

.u-margin-bottom-bg {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;
}

.u-margin-bottom-sm {
    margin-bottom: 1.5rem;
}
